[submodule "packages/server"]
	path = packages/server
	url = https://github.com/caorushizi/chatgpt-server.git
[submodule "packages/panel"]
	path = packages/panel
	url = https://github.com/caorushizi/chatgpt-panel.git
